<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="header-title"><ion-icon name="hourglass-outline"></ion-icon>Historico</h1>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.foto">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.servico }}</h2>
        <p>Barbeiro: {{ item.barbeiro }}</p>
        <p>Data: {{ item.data }}</p>
        <p>Pagamento: {{ item.pagamento }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
